<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="EU" connectionString=" Url = http://localhost:8080;Database=EU_Clients" />
    <add name="USA" connectionString=" Url = http://localhost:8081;Database=USA_Clients" />
    <add name="Rest" connectionString=" Url = http://localhost:8081;Database=Rest_Clients" />
    <add name="Orders1" connectionString=" Url = http://localhost:8080;Database=Orders" />
    <add name="Orders2" connectionString=" Url = http://localhost:8081;Database=Orders" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>